:root {
  --text: black;
  --background: white;
  --accent: #10910e;
  --divider: rgb(40, 42, 54);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --background: #18191a;
    --accent: rgb(80, 250, 123); 
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

pre code {
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label {
  
}

h1 {
  font-size: 1.8rem;
}

p {
  font-size: 1rem;
}

a,
.link {
  color: var(--accent);
  font-size: 1rem;
  text-decoration: none;
}

button.link {
  background-color: transparent;
  border: none;
  display: inline;
  display: flex;
  padding: 0;
  margin: 0;
}

a:hover,
.link:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}